body {
    background-color: #000000;
}

.form-container {
    max-width: 800px; /* Tamanho fixo para manter o padrão entre páginas */
    width: 100%;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 80px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}


    /* Estilo dos planos */
    .planos .card {
        transition: transform 0.3s;
    }

    .planos .card:hover {
        transform: scale(1.05);          
    }

