/* Garantir que o canvas ocupe 100% da largura disponível */
#coloring-area {
    display: none; /* Inicialmente oculto */
    width: 100%;
    text-align: center;
}

#coloring-canvas {
    margin: 0;
    padding: 0;    
}

/* #coloring-canvas {
    width: 100%; /
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    border: 1px solid #000; 
} */


canvas {
    border: 2px solid #333;
    margin-top: 20px;
    cursor: crosshair;
}

#coloring-area .form-control {
    max-width: 200px; /* Define um tamanho máximo para os controles em telas grandes */
}
