.container-secao-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralizar conteúdo horizontalmente */      
    padding: 2rem;
}

main form {
    margin-top: 1rem; /* Espaçamento superior para o formulário */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralizar conteúdo horizontalmente */
    background-color: rgba(255, 255, 255, 0.123); /* Fundo semi-transparente */
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra */
}

main form label {
    font-size: 1.6rem; /* Tamanho da fonte */    
}

main form input[type="text"] {
    color: var(--color-quarta);      
    width: 100%; /* Largura total do campo de entrada */
    padding: 1rem;
    margin: 1rem 4rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1.6rem; /* Tamanho da fonte */
}

main form button {
    margin-top: 1rem ;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 15px;
    background-color: var(--color-segunda); /* Cor de fundo do botão */
    color: var(--color-primeira); /* Cor do texto do botão */
    font-size: 1.6rem; /* Tamanho da fonte */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave de cor */
}

main form button:hover {
    background-color: #333333a2; /* Mudar cor de fundo ao pairar */
}

.secao__imagem-form  {    
    margin-top: -4rem;
}

.container-secao-form h2 {
    padding: 1rem;
    text-align: center;    
    font-size: 2.5rem;      
}

.container-secao-form p {        
    font-size: 1.6rem;  
    margin-top: -5rem;  
}


@media only screen and (min-width: 768px) {

    main form label {
        font-size: 3rem; /* Tamanho da fonte */    
    }
    
    main form input[type="text"] {        
        width: 100%; /* Largura total do campo de entrada */
        padding: 1.6rem;
        margin: 2rem 15rem;
        font-size: 2.5rem; /* Tamanho da fonte */
    }
    
    main form button {
        margin-top: 2rem;
        padding: 2rem 5rem;       
        font-size: 3rem; /* Tamanho da fonte */
       
    }

    .container-secao-form h2 {           
        font-size: 3.5rem;            
    }
    
    .container-secao-form p {        
        font-size: 2.6rem;  
        margin-top: -12rem;       
    }
    
    .secao__imagem-form  {    
        margin-top: -8rem;
    }

}

@media only screen and (min-width: 1024px) {

     
    main form input[type="text"] {        
        width: 100%; /* Largura total do campo de entrada */
        padding: 1.6rem;
        margin: 2rem 20rem;
        font-size: 2rem; /* Tamanho da fonte */
    }
    
    main form button {
        margin-top: 2rem;
        padding: 1rem 4rem;       
        font-size: 2rem; /* Tamanho da fonte */
    }

    .container-secao-form h2 {           
        font-size: 3rem;     
        padding: 4rem;       
    }
    
    .container-secao-form p {        
        font-size: 2rem;  
        margin-top: -12rem;       
    }
    
    .secao__imagem-form  {    
        margin-top: -8rem;
        max-width: 70%;
    }

}

/* container-secao */