@import url(./style.css);

/* Header */

.font-navbar {
    /* font-family: var(--font-Robot);     */
    font-weight: 600;
}
 
.text-navbar:hover {
    color: var(--colors-dark);
}

.bg-glass {  
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.288);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border-bottom: 1px solid rgba(185, 185, 185, 0.5); */
}           


/* Jogos Card */

.btn-energia {
    background-color: var(--colors-amarelo);
    color: var(--colors-dark);
    font-weight: bold;
}

.btn-memoria {
    background-color: var(--colors-vermelho);
    color: var(--colors-dark);
    font-weight: bold;
}

.btn-arrasta {
    background-color: var(--colors-verde);
    color: var(--colors-dark);
    font-weight: bold;
}

.btn-pintar {
    background-color: var(--colors-azul);
    color: var(--colors-dark);
    font-weight: bold;
}


.btn-energia:hover,
.btn-arrasta:hover,
.btn-memoria:hover,
.btn-pintar:hover {     
    background-color: var( --colors-verde-oceno);
    color: var(--colors-white);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);   
}

.card:hover {
    box-shadow: 0 8px 16px #0098B4, 0 6px 20px #0098B4;
    transform: translateY(-5px); /* Opcional: levanta o card levemente */
    transition: all 0.3s ease-in-out;
}

/* Section 1 */

@media(min-width: 768px) {      



}