#memory-game {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    perspective: 1000px; /* Dá uma sensação de profundidade */
}

.memory-card {
    width: 100px;
    height: 100px;
    background-color: var(--colors-verde-oceno);
    color: var(--colors-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 5px;   
    position: relative;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
    border-radius: 5px;
}

.memory-card.flip .card-front {
    display: none;
    background-color: var(--colors-verde-oceno);
}

.memory-card.flip .card-back {
    display: block;    
    transform: rotateY(180deg); /* Inicia o verso virado */
}

/* Classe para girar o card */
.memory-card.flip {
    transform: rotateY(180deg); /* Gira o card em 180 graus */
}


.memory-card:hover {
    box-shadow: 0 8px 16px #050505;
    transform: translateY(-5px); /* Opcional: levanta o card levemente */
    transition: all 0.3s ease-in-out;
    
}

.game-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    font-size: 18px;
}