
body {  
    font-family: var(--font-Robot);
    background: var(--gradiente); 
    color: var(--colors-dark);  
    padding: 100px 0 0 0;
}

.font-h1 {
    font-family: var(--font-Josefin); 
    font-size: 3rem;    
    font-weight: bold;
    text-align: left;
}

.font-h2 {
    font-family: var(--font-Josefin); 
}

.font-h4 {       
    font-size: 1.3rem;
    font-weight: 300;
    text-align: left;
}

.img-menino {
    max-width: 200px;
    width: 100%;
    max-height: 50%;
    height: auto;
}


@media(min-width: 992px) {  
    
.font-h1 {
    font-family: var(--font-Josefin); 
    font-size: 4rem;    
    font-weight: bold;
}

.font-h4 {       
    font-size: 1.8rem;
    font-weight: 300;
}

.img-menino {
    max-width: 100%;    
    max-height: 100%;
}

}

@media(min-width: 1200px) {  
    
    .font-h1 {
        font-family: var(--font-Josefin); 
        font-size: 5rem;    
        font-weight: bold;
    }

        .font-h2 {
       font-size: 2.5rem;
    }
    
   
    
    }