
:root {
    /* cores */
    --colors-white: #ffffff;    
    --colors-dark: #000000;        
    --colors-blue: #0d6efd;    
   
    --colors-green:  #198754;   
    --colors-red: #dc3545;      
       
}